In [2]:
while a:
    print(a.pop())
a

2
3

set()

In [4]:
a = set([1,2,3])
b = set([3,4,5])

print(a&b)
print(a|b)

{3}
{1, 2, 3, 4, 5}

In [6]:
a = {}
b = [1,2]
a[b] = 1   # ERROR : list is not hashable

In [7]:
a = {}
a[tuple(b)]=1   #tuple is hashable
a

{(1, 2): 1}

In [48]:
a = {1:2,2:3}
for k,v in a.items():
    print(k,v)

1 2
2 3

{1: 2, 2: 3, 3: 4}

In [52]:
a = {1,2,3,4}
print(type(a))
list(a)

<class 'set'>

[1, 2, 3, 4]

In [54]:
# Use a list of sets to extract unique combinations
# SETS AE UNORDERED
# sorted() must be used in order to save unique sets

In [100]:
set([4,3,2,1])

{1, 2, 3, 4}

In [57]:
set(['a','d','e','b'])

{'a', 'b', 'd', 'e'}

In [74]:
# Binary search

import bisect as bi

arr = [2,4,6,8]

# if value not present & greater than largest item,
# it returns len(array)
print(bi.bisect_left(arr,9))

# if if value not present & smaller than smallest item,
# it returns 0
print(bi.bisect_left(arr,1))

# it returns the index of the element
print(bi.bisect_left(arr,8))

4
0
3

In [78]:
# tuples can be hashed

k = {(1,2):4}
k[(2,1)]=5
k

{(1, 2): 4, (2, 1): 5}

In [1]:
# How to use nonlocal in case of resursive functions
# using a COUNT variable recursively

def get_val(node):
    def get_count(node, max_so_far):
        nonlocal count
        if node.val >= max_so_far:
            count += 1
            max_so_far = node.val
        if node.left:
            get_count(node.left, max_so_far)
        if node.right:
            get_count(node.right, max_so_far)
    count = 0
    get_count(root, root.val)
    return count

In [41]:
a = [0,1,2,3,4,5]
a[0:3]   # right value not included
min(a[:3])

0

In [62]:
# sorting a dictionary
d = {'one':1,'three':3,'five':5,'two':2,'four':4}

print(sorted(d.items(), key = lambda x:x[1]))   # (key, value) --> key : 0, value : 1
print(sorted(d.items(), key = lambda x:x[0]))

students = [
     ('john', 'A', 15), 
     ('jane', 'B', 12),
     ('dave', 'B', 10),
]

print(sorted(students, key = lambda x:x[2])) #sorting by Age

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]
[('five', 5), ('four', 4), ('one', 1), ('three', 3), ('two', 2)]
[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [35]:
logs = ["let1 art can", "let2 own kit dig" ,"let3 art zero"] 
logs2 = ["let1 art can","let4 art zero","let2 own kit dig","let3 art zero"]

print(sorted(logs, key = lambda x: x.split()[1:]))  # Sorting by content
print(logs)      # sorted() doesn't sorts the original array itself .sort() does !!!!

print(sorted(logs2, key = lambda x: x.split()[1:])) #Gives Stable Sorting regarding Identifiers

print(sorted(logs2, key = lambda x: (x.split()[1:], x.split()[0])))  # Gives modified sorting
                                                                    # First sorts by content
                                                                    # Then if contents are same, sorts by identifiers

['let1 art can', 'let3 art zero', 'let2 own kit dig']
['let1 art can', 'let2 own kit dig', 'let3 art zero']
['let1 art can', 'let4 art zero', 'let3 art zero', 'let2 own kit dig']
['let1 art can', 'let3 art zero', 'let4 art zero', 'let2 own kit dig']

In [65]:
ord('a')  #ASCII code conversion

97

In [18]:
dictt = {1:12}   # checking retrieval from the dictionary

dictt.get(1,0)

12

In [10]:
# Very useful when mapping stuff
rows = 4
arr = [""]*rows     #list of n strings
arr

['', '', '', '']

In [51]:
string = 'race CAr'
string.lower()

'race car'

In [52]:
string.isalnum()

False

In [23]:
'9'.isalnum()

True

In [24]:
'9'.isdigit()

True

In [ ]:
# While processing string, always take care of the addition
# of the last word or character, since cnditions

In [96]:
# Very good example of hasing unique sets through using tuples
def solve(words):
    anagrams = {}
    
    for each in words:
        unique = tuple(sorted(set(each)))
        if anagrams.get(unique,0) == 0:
            anagrams[unique] = [each]
        else:
            anagrams[unique].append(each)
    return anagrams

solve(["aae","aea","aeae","aaee","eat", "bat", "ate", "tab", "tea", "eat"])

{('a', 'e'): ['aae', 'aea', 'aeae', 'aaee'],
 ('a', 'e', 't'): ['eat', 'ate', 'tea', 'eat'],
 ('a', 'b', 't'): ['bat', 'tab']}

In [125]:
# trick to map 26 alphabets to array indexes i.e representing each index as an alphabet

print(abs(97 - ord('a')))
print(abs(97 - ord('b')))
print(abs(97 - ord('c')))
print(abs(97 - ord('d')))
print(abs(97 - ord('e')))
print(abs(97 - ord('f')))
print(abs(97 - ord('z')))

0
1
2
3
4
5
25

In [144]:
set('css') & set('c') == set('c')

True

In [218]:
a = [1,2,3]
a.pop()    # list.pop() works only with lists not strings, DEFAULT = -1 index
a

[1, 2]

In [209]:
a = (1,2,3)   # tuple is immutable, pop doesn't works

b = set([1,2,3])  
x = b.remove(2). # deletion in Set happens by giving item name

{1, 3}

In [10]:
each = '2 1 3'
each = each.split()
each.sort()
for i in range(len(each)):
    each[i] = int(each[i])
each

[1, 2, 3]

In [13]:
int('24')

24

In [1]:
0 / 60 #returns float always

0.0

In [3]:
from collections import defaultdict

In [34]:
# Using different types of collections as a default dict

def func():
    g1 = defaultdict(set)    
    g1[0] = {11,22}
    g1[1] = {23,24}
    print('',g1)

    g2 = defaultdict(list)
    g2[0] = [1,2]
    g2[1] = [3,4]
    print('\n',g2)

    g3 = defaultdict(tuple)
    g3[0] = (-1,-2)
    g3[1] = (-3,-4)
    print('\n',g3)
func()

 defaultdict(<class 'set'>, {0: {11, 22}, 1: {24, 23}})

 defaultdict(<class 'list'>, {0: [1, 2], 1: [3, 4]})

 defaultdict(<class 'tuple'>, {0: (-1, -2), 1: (-3, -4)})

In [3]:
from collections import defaultdict

In [19]:

g = defaultdict(list)
g = {
  'A' : ['B','C'],
  'B' : ['E','D'],
  'C' : ['A','F'],
  'D' : ['B'],
  'E' : ['B','F'],
  'F' : ['E','C']
}

def detect(graph, source):
    visited = set()
    
    if isCyclic(source, graph, visited, None):
        print('Cycle!')
    else:
        print('No cycle!')
    
def isCyclic(vtx, graph, visited, parent):
    print(vtx, end=' ')
    visited.add(vtx)
    
    for adj in graph[vtx]:
        if adj not in visited:
            if isCyclic(adj, graph, visited, vtx):
                return True
        else:
            if adj != parent:
                return True
            
    return False

detect(g, 'B')

B E F C A Cycle!

In [9]:

def generate(arr):
    if len(arr) == 2:
        return arr
    temp = []
    for i in range(len(arr)-1):
        temp.append((arr[i] + arr[i+1])%10)
    return generate(temp)
    
generate([1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,6,7,8,1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,6,7,8])

[9, 0]

In [1]:
%10

9

In [8]:
def ans(A, minn, maxx):
    counts = {}
    med = None
    for each in A:
        if each == minn:
            counts[minn] = counts.get(each,0) + 1
        elif each == maxx:
            counts[maxx] = counts.get(each,0) + 1
        else:
            med = each
            counts[each] = counts.get(each,0) + 1
            
    return [minn]*counts[minn] + [med]*counts[med] + [maxx]*counts[maxx]
    
ans([0,1,0,1,2,1,2,0,2], 0, 2)

[0, 0, 0, 1, 1, 1, 2, 2, 2]

In [7]:
x = [0]*3 + [1]*3 + [2]*3
x

[0, 0, 0, 1, 1, 1, 2, 2, 2]

In [21]:
import requests
  
# import json
#import json
# store the URL in url as 
# parameter for urlopen
url = "https://api.ncbi.nlm.nih.gov/lit/ctxp/v1/pubmed/?id=2234"
headers = {
    'User-Agent' : 'Hydra/1.3.15'
}
response = requests.get(url, headers=headers)  

if response:
    print('h')
else:
    print()

hh

In [22]:
from flask import Flask, render_template
from flask_restful import Resource, Api, reqparse
import requests
import os

app = Flask(__name__)
api = Api(app)

@app.route('/')
def index():
    return render_template('index.html', title='ISI assessment') #displays the returned response on a simple html webpage

# class to handle our work, it's called in our HTML form in the index.html
class Citations(Resource):
    def __init__(self):
        self.url = "https://api.ncbi.nlm.nih.gov/lit/ctxp/v1/pubmed/?id="
        self.headers = {
                'User-Agent' : 'Hydra/1.3.15'
                    }

    def get(self):
        parser = reqparse.RequestParser()  # initialize the argument parser
        parser.add_argument('IDs', required=True, help = 'Enter ID')
        arguments = parser.parse_args()    # input ID
        entered_ID = arguments["IDs"] 
        response = requests.get(self.url, headers=self.headers) 
        if response:
            return response, 200               # returing the retrieved data with 200 OK status code
        else:
            return 'Erorr', 400
        

api.add_resource(Citations, '/citations')   # add api endpoint

if __name__ == '__main__':
    port = int(os.environ.get('PORT', 5000))
    app.run(host="0.0.0.0", port=port, debug=True)  # run our Flask app

ModuleNotFoundError: No module named 'flask_restful'

In [23]:
SELECT a.*, b.*, c.*
    FROM 
    TABLE_1 AS a
    LEFT JOIN TABLE_2 AS b
    ON a.customer_id = b.customer_id
    LEFT JOIN TABLE_3 AS c
    ON b.product_id = c.product_id

SyntaxError: invalid syntax (<ipython-input-23-89902be75263>, line 1)